

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color:#1394D7;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

.factmain {
  padding-top: 0px;
}

.facts {
  padding-top: 60px;
  padding-bottom: 40px;
}

.references {
  font-size: 15px;
  text-align: left;
  color: black;
  display: flex;
  flex-direction: column;;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.references button {
  margin-bottom: 20px;
}

footer {
  position: fixed;
left: 0;
bottom: 0;
width: 100%;
background: rgba(76, 175, 80, 0.3)
color: white;
text-align: center;
}

*, ::after, ::before {
    box-sizing: border-box;
}

ol {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

#showhide {
  display: none;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  text-align: center;
}

.carousel {
  margin-bottom: 2rem;
  position: relative;
}

rect[Attributes Style] {
    width: 100%;
    height: 100%;
    fill: rgb(119, 119, 119);
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.carousel-item {
  height:32rem;
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: -webkit-transform .6s ease-in-out;
  transition: transform .6s ease-in-out;
  transition: transform .6s ease-in-out,-webkit-transform .6s ease-in-out;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 25px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}



.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

h1{
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.2;
  color: white;
  text-align: center;

}

h2{
  text-align: center;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: white;
    margin-top: 0;
    margin-bottom: 1rem;
}

.factmain ul {
  color: white;
  font-size: 19px;
  text-align: left;
}

.lead {
  font-size: 19px;
  text-align: left;
}

.toprow {
  margin-right: 0rem;
}

.headerstart {
  color: white;
}

.quote {
  text-align: center;
  color: white;
  padding-bottom: 50px;
}

.socialmedia {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 10px;
}

.fa {
  padding: 10px;
  font-size: 40px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin: 5px 5px;
  opacity: 1;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
  }

.turtleicon {
  width: 60px;
  height: 60px;
}

.warning {
  width: 170px;
  height:170px;
}

.sustain {
  width: 200px;
  height: 200px;
}

.turtlepic {
  width: 200px;
  height: 200px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.turtleicon:hover, #drag1:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.eventinfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

.eventinfo p {
  font-size: 1.25em;
}

#eventitem {
  padding: 20px;
  padding-top: 50px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.how {
  text-align: center;
  padding: 10px;
  margin: 10px;
  padding-top: 50px;
}

.brighton {
  width:300px;
  height:300px;
  object-fit:cover;
  display: block;
}

.infotext {
  position: relative;
  width: 100%;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #1394D7;
}

.infotext:hover .overlay {
  opacity: 1;
}

.text {
  color: black;
  font-size: 18px;
  position: absolute;
  height: 100%;
  width: 90%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: left;

}


.modal-header {
  text-align: center;
}

.signup {
  display: flex;
  justify-content: center;

  padding-bottom: 70px;
  font-size: 5000em;
}


.dragndrop {
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dragndrop p {
  color: white;
  padding: 10px;
  font-size: 1.5rem;
  text-align: center;
}

.dragndrop h1 {
  padding-top: 7px;
}


#div1, #div2 {
  float: left;
  margin: 10px;
  padding: 10px;
}

#div1 {
  background-image: url("https://image.freepik.com/free-vector/beach-cartoon-illustration_1196-552.jpg");
  width: 600px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding:1px;
  border:3px solid #fff;
}

#div2 {
  background-image: url("https://image.flaticon.com/icons/svg/861/861106.svg");
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 200px;
  left: 50px;
}

#div2:hover {
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}


.div3 {
  display: flex;
  justify-content: space-between;
}

#drag1 {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);}

.btn-signup {
    color: #dc3545;
    background-color: #fff;
    border-color: #dc3545;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 2rem;
    line-height: 2.5;
    border-radius: .25rem;
    transition: color .15s
  }

  .clickedbottle{
    display: none;
  }
  .col-md-5{
    padding-bottom: 40px;
    }
