body{
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: rgb(100,20,200)
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color:#1394D7;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

*, ::after, ::before {
    box-sizing: border-box;
}

ol {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  text-align: center;


}

.carousel {
  margin-bottom: 4rem;
  position: relative;
}

rect[Attributes Style] {
    width: 100%;
    height: 100%;
    fill: rgb(119, 119, 119);
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.carousel-item {
  height:32rem;
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: -webkit-transform .6s ease-in-out;
  transition: transform .6s ease-in-out;
  transition: transform .6s ease-in-out,-webkit-transform .6s ease-in-out;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

h1{
  font-size:2.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: white;

}

h2{
  text-align: center;

}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: white;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.toprow {
  margin-right: 0rem;
}

.headerstart {
  color: white;
}

.quote {
  text-align: center;
  color: white;
}

.socialmedia {
  display: flex;
  justify-content: center;
  text-align: center;
}

.fa {
  padding: 10px;
  font-size: 40px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin: 5px 5px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
  }

.turtleicon {
  width: 60px;
  height: 60px;
}

.warning {
  width: 170px;
  height:170px;
}
.sustain {
  width: 200px;
  height: 200px;
}
.turtlepic {
  width: 200px;
  height: 200px;
  -webkit-transform: rotate(270deg);
 -moz-transform: rotate(270deg);
 -o-transform: rotate(270deg);
 -ms-transform: rotate(270deg);
 transform: rotate(270deg);
}
.turtleicon:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.eventinfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 50px;
}

.eventinfo p {
  font-size: 1.25em;
}

#eventitem {
  padding: 50px;
  padding-top: 50px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.how {
  text-align: center;
  padding: 10px;
  margin: 10px;
  padding-top: 50px;
}

.brighton {
  width:300px;
  height:300px;
  object-fit:cover;
}

.modal-header {
  text-align: center;
}

.signup {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  font-size: 5000em;
}
